
*.obj
*.ipch
/StimuliScheduler/x64/Debug
/StimuliScheduler/StimuliScheduler/x64/Debug
/StimuliScheduler/.vs/StimuliScheduler
/StimuliScheduler/StimuliScheduler/StimuliScheduler.vcxproj.user
/OpenInstrument/x64/Debug
/OpenInstrument/.vs/OpenInstrument
